#background{
    position: fixed;
    width: 100%;
    height: 100vh;
    inset: 0;
    z-index: -1;
}

#background video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#background::after{
    content: '';
    width: inherit;
    height: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    align-items: center;
    column-gap: 64px;
    width: 100%;
    max-width: 1440px;
    padding-top: 24px;
}

header img{
    width: 70px;
    height: auto;
}

.navigation{
    display: flex;
    align-items: center;
    column-gap: 48px;
}

.navigation a{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
}

.navigation a:hover::after{
    transform: scaleX(1);
    transform-origin:right;
    transition: transform 0.4s;
}

.navigation_social{
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.navigation_social img{
    width: 30px;
    height: 30px;
    opacity: 0.6;
    border-radius: 20px;
    transition: all 0.4s;
}

.navigation_social img:hover{
    opacity:1;
    transform: translateY(-5px);
    cursor: pointer;
}

main {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    flex: 1;
    justify-content: space-between;
    margin-top: 20px;
}

.main-info{
    width: 100%;
    max-width: 570px;
}

.main-info p {
    font-size: 18px;
    margin: 20px 0 28;
    color: white;
}

.main-info div{
    display: flex;
    column-gap: 32px;
}

.main-info div a, .main-info div button{
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    transform: skew(-10deg);
    margin-top: 25px;
}

.main-info div a{
    background: red;
    border-radius: 20px;
    color: white;
}

.main-info div button{
    background: green;
    border: 1px solid var(--green);
    border-radius: 20px;
    cursor: pointer;
}


